<h1>Fear & Greed</h1>
{% if fg %}
    <p>{{ fg.value }} - {{ fg.classification }}</p>
{% for history in fg.history %}
    <p>- {{ history.date}}: {{ history.value }} - {{ history.classification }}</p>
{% endfor %}
{% else %}
    <p>Sentiment unavailable</p>
{% endif %}

<h1>Total Market Cap</h1>
{% if global_market %}
    <p>${{ global_market.total_market_cap_usd }}</p>
    <p>24h change: {{ global_market.change_24h }}%</p>
{% else %}
    <p>Global market data unavailable</p>
{% endif %}

<h1>Market Snapshot</h1>
{% if snapshot %}
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>24h Change</th>
            <th>Market cap</th>
        </tr>
        {% for coin in snapshot %}
        <tr>
            <td>{{ coin.name }}</td>
            <td>${{ coin.price_usd }}</td>
            <td>{{ coin.change_24h }}%</td>
            <td>{{ coin.market_cap_usd }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>Price data unavailable</p>
{% endif %}

<h1>Top Gainers</h1>
{% if gainers %}
    <ul>
        {% for coin in gainers %}
            <li>
                {{ coin.name }}<br>
                - ${{ coin.price_usd }}<br>
                - {{ coin.change_24h }}%
            </li>
        {% endfor %}
    </ul>
    <h1>Top Losers</h1>
    <ul>
        {% for coin in losers %}
            <li>
                {{ coin.name }}<br>
                - ${{ coin.price_usd }}<br>
                - {{ coin.change_24h }}%
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Movers unavailable</p>
{% endif %}